<div class="container">
    <p class="h3 text-center">Start a new blog</p>

    <%= render "form", blog: @blog %>

    <br>

    <div>
      <%= link_to "Back to blogs", blogs_path, class: "btn btn-secondary" %>
    </div>
</div>